<div>
  <div class="img-container">
    <img src="https://goo.gl/rmTzPJ" alt="">
  </div>
  <div>
    <cf-summary></cf-summary>
    <div>Option Model Title</div>
    <div>
      <input type="radio" name="button1">Button1
      <input type="radio" name="button2">Button2
      <input type="radio" name="button2">Button3
    </div>
    <div>
      <input type="radio" name="button1">Button1
      <input type="radio" name="button2">Button2
      <input type="radio" name="button2">Button3
    </div>
    <div>
      <input type="radio" name="button1">Button1
      <input type="radio" name="button2">Button2
      <input type="radio" name="button2">Button3
    </div>
  </div>
</div>
